* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2.5rem;
    color: white;
    margin: 30px;
}

header {
    background-color: purple;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav {
    margin: 20px;
}

li {
    display: inline-block;
    margin: 0px 15px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

body {
    background-color: rgb(94, 94, 94);
}

#about-me {
    display: flex;
    justify-content: space-evenly; 
    margin: 40px 20px;
    color: white;
}

#about-me p {
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.5;
    border-left: 2px solid white;
}

#about-me img {
    width: 13%;
    height: 13%;
    border: 5px solid purple;
}

h2 {
    font-size: 2rem;
    margin: 30px;
    color: white;
}

#my-projects {
    display: flex;
    justify-content: space-evenly; 
    margin: 40px 20px;
    color: white;
}

.projects {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    justify-content: flex-end;
    border: 5px solid purple;
    background-image: url("https://www.androidfreeware.net/img2/com-pirinel-chess.jpg");
    margin: 30px;
}

#contact-me {
    display: flex;
    justify-content: space-between; 
    margin: 40px 20px;
    color: white;
}

#contact-info {
    border-left: 2px solid white;
}